.application-frame {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  width: 100%;
  height: 100%;
}

.application-frame__header {
  grid-area: header;
  width: 100%;
  align-items: stretch;
  background-color: var(--color-black);
  color: var(--color-white);
}

.application-frame__content {
  grid-area: content;
  width: 100%;
  height: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.application-frame__nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.application-frame__article {
  background-color: var(--color-white);
  color: var(--color-black);
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.application-frame__footer {
  grid-area: footer;
  width: 100%;
  align-items: stretch;
  background-color: var(--color-black);
  color: var(--color-white);
}
