.console-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "left right";
  width: 100%;
  height: 100%;
  min-height: 0;
}

.console-grid__header {
  grid-area: header;
  background-color: var(--color-black);
  color: var(--color-white);
}

.console-grid__left {
  grid-area: left;
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 0;
  overflow: hidden;
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
}

.console-grid__right {
  grid-area: right;
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 0;
  overflow: hidden;
}
