.switch-button {
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  min-width: 10rem;
  height: 100%;
  padding: 0 1.5rem;
  cursor: pointer;
}
