.rotate-device-notice {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  z-index: 1000;
}

.rotate-device-notice__text {
  color: var(--color-black);
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid var(--color-black);
  padding: 1rem 2rem;
}
